@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

:root {
    --mdc-theme-primary: #3400c3; /* Change primary color to red */
    --mdc-theme-error: #3400c3;
    --mdc-outlined-card-outline-width: 2px;
}

.wrap-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EFEFEF;
    margin: 0 auto;
}

.container {
    background: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    height: calc(100% - (65px + 65px));
    justify-content: center;
    align-items: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 328px;
    border-color: inherit;
    box-shadow: inherit;
}

.login-box mat-card-header {
    width: 128px;
    height: 128px;
    margin: 0 auto 16px; /* Center the image */
}

.login-box mat-card-header img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Make the image round */
}

.mat-mdc-card-content {
    padding: 0;
}

.login-box mat-form-field {
    border-color: #0000001F !important;
    border-radius: 4px;
}

.mdc-text-field--invalid .mdc-text-field__input,
.mdc-text-field .mdc-text-field__input,
.form-field {
    caret-color: #2f00ff !important;
}

.form-field {
    font-size: 16px;
    letter-spacing: 0.15px!important;
    color: #0400ffbc!important;
}

.login-box mat-label,
.mat-mdc-form-field-error {
    color: #0c00b0 !important;
}

mat-form-field {
    width: 100%;
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #0300b0;
    text-align: left;
    font-family: 'Roboto';
    letter-spacing: 0.15px;
    border: 2px solid #001ab0;
}

.mdc-text-field--focused {
    border: 2px solid #0015b0;
}

.login-box .mat-form-field-invalid .mat-form-field-outline {
    border-color: #0300b0 !important;
}

.mdc-card__actions {
    padding: 0;
    min-height: 36px;
}

.mat-mdc-raised-button:not(:disabled) {
    background-color: var(--mdc-theme-primary);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    width: 98px;
    text-align: center;
    font-family: Roboto, Medium;
    letter-spacing: 1.25px;
    color: #3c00ff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500; /* Change font weight to bold */
}

mat-form-field .form-field {
    color: #000000BC !important;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

@media(max-width:768px) {
    .wrap-login {
        background: #0026ff;
        padding: 0 30px;
    }

    .container {
        background: #0044ff;
        height: auto;
        padding: 22px 21px;
        width: auto;
        max-width: inherit;
    }
}

@media(max-width:430px) {
    .container {
        background: #1e00ff;
        box-shadow: inherit;
        display: block;
        justify-content: inherit;
        align-items: inherit;
    }

    .login-box {
        width: 100%;
    }
}
